# Brazil E-Commerce Olist ÏóêÏÑú Ïû¨Íµ¨Îß§Îäî ÏñºÎßàÎÇò Ïù¥Î£®Ïñ¥ ÏßàÍπå?

</br>

## --‚ñ∂ Dataset Customizing

In [1]:
import numpy as np
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from warnings import simplefilter
simplefilter("ignore")
pd.set_option('display.max_columns', 100)

engine = create_engine('mysql+pymysql://root:MSQanfqud42!@localhost:3306/ml_project?charset=utf8mb4')

### üé´ __orders_datetime__

In [2]:
df_orders = pd.read_sql_query("SELECT * FROM olist_orders WHERE order_status NOT IN ('canceled', 'created')", engine)
df_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00
...,...,...,...,...,...,...,...,...
98806,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18 00:00:00
98807,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01 00:00:00
98808,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10 00:00:00
98809,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25 00:00:00
98810,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00

In [3]:
def show_info(df):
    df.info()
    print('-'*57)
    print(df.isna().sum())

show_info(df_orders)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98811 entries, 0 to 98810
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       98811 non-null  object
 1   customer_id                    98811 non-null  object
 2   order_status                   98811 non-null  object
 3   order_purchase_timestamp       98811 non-null  object
 4   order_approved_at              98797 non-null  object
 5   order_delivered_carrier_date   97583 non-null  object
 6   order_delivered_customer_date  96470 non-null  object
 7   order_estimated_delivery_date  98811 non-null  object
dtypes: object(8)
memory usage: 6.0+ MB
---------------------------------------------------------
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  14
order_delivered_carrier_date     1228
order_delivered_customer_date    2341
order_estimated_delivery_date       0
dtype: int64

In [4]:
timestamp_cols = ['order_purchase_timestamp', 'order_delivered_customer_date', 'order_estimated_delivery_date']
for col in timestamp_cols:
    df_orders[col] = pd.to_datetime(df_orders[col])

In [5]:
orders_datetime = df_orders[['order_id', 'customer_id', 'order_status']]
orders_datetime['purchase_timestamp'] = df_orders['order_purchase_timestamp']

# Year and Month
orders_datetime['purchase_year_month'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%Y%m'))
orders_datetime['purchase_year'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.year)
orders_datetime['purchase_month'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.month)
orders_datetime['purchase_month_name'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%b'))

# Day and Day of Week
orders_datetime['purchase_day'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.day)
orders_datetime['purchase_week_no'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.dayofweek)
orders_datetime['purchase_week_name'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%a'))

# Hour and Time of the Day
orders_datetime['purchase_hour'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.hour)
hours_bins = [-0.1, 6, 12, 18, 23]
hours_labels = ['Dawn', 'Morning', 'Afternoon', 'Night']
orders_datetime['purchase_timeslot'] = pd.cut(orders_datetime['purchase_hour'], hours_bins, labels=hours_labels)

# delivery days
orders_datetime['delivery_days'] = (df_orders['order_delivered_customer_date'] - df_orders['order_purchase_timestamp']).dt.days
orders_datetime['estimate_days'] = (df_orders['order_estimated_delivery_date'] - df_orders['order_purchase_timestamp']).dt.days

orders_datetime.sort_values(by='purchase_timestamp', inplace=True)

# 2018.09Ïõî 1Í∞ú Ï£ºÎ¨∏ Îç∞Ïù¥ÌÑ∞ Ï†úÏô∏
orders_datetime = orders_datetime[:-1]
orders_datetime

,order_id,customer_id,order_status,purchase_timestamp,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_timeslot,delivery_days,estimate_days
17811,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,201609,2016,9,Sep,4,6,Sun,21,Night,NaN,45
73967,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,201609,2016,9,Sep,15,3,Thu,12,Morning,54.0,18
22914,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,delivered,2016-10-03 09:44:50,201610,2016,10,Oct,3,0,Mon,9,Morning,23.0,23
73442,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,delivered,2016-10-03 16:56:50,201610,2016,10,Oct,3,0,Mon,16,Afternoon,24.0,34
63035,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,delivered,2016-10-03 21:13:36,201610,2016,10,Oct,3,0,Mon,21,Night,30.0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31695,52018484704db3661b98ce838612b507,e450a297a7bc6839ceb0cf1a2377fa02,delivered,2018-08-29 12:25:59,201808,2018,8,Aug,29,2,Wed,12,Morning,1.0,4
4325,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,delivered,2018-08-29 14:18:23,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,5
8647,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,delivered,2018-08-29 14:18:28,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,12
1519,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,delivered,2018-08-29 14:52:00,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,4
20657,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,delivered,2018-08-29 15:00:37,201808,2018,8,Aug,29,2,Wed,15,Afternoon,1.0,6

In [6]:
show_info(orders_datetime)

<class 'pandas.core.frame.DataFrame'>
Index: 98810 entries, 17811 to 20657
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             98810 non-null  object
 1   customer_id          98810 non-null  object
 2   order_status         98810 non-null  object
 3   purchase_timestamp   98810 non-null  datetime64[ns]
 4   purchase_year_month  98810 non-null  object
 5   purchase_year        98810 non-null  int64
 6   purchase_month       98810 non-null  int64
 7   purchase_month_name  98810 non-null  object
 8   purchase_day         98810 non-null  int64
 9   purchase_week_no     98810 non-null  int64
 10  purchase_week_name   98810 non-null  object
 11  purchase_hour        98810 non-null  int64
 12  purchase_timeslot    98810 non-null  category
 13  delivery_days        96470 non-null  float64
 14  estimate_days        98810 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(1), int64(6), object(6)
memory usage: 11.4+ MB
---------------------------------------------------------
order_id                  0
customer_id               0
order_status              0
purchase_timestamp        0
purchase_year_month       0
purchase_year             0
purchase_month            0
purchase_month_name       0
purchase_day              0
purchase_week_no          0
purchase_week_name        0
purchase_hour             0
purchase_timeslot         0
delivery_days          2340
estimate_days             0
dtype: int64

### üé´ __cutomers_info__

In [7]:
query = """
SELECT
	c.customer_id,
	c.customer_unique_id,
	c.customer_city,
	c.customer_state,
	r.Region customer_region,
	g.geolocation_lat customer_lat,
	g.geolocation_lng customer_lng
FROM olist_customers c
LEFT JOIN brazil_state_region r ON c.customer_state=r.State
LEFT JOIN olist_geolocation_in g ON c.customer_zip_code_prefix=g.geolocation_zip_code_prefix
"""

df_customers = pd.read_sql(query, engine)
df_customers

,customer_id,customer_unique_id,customer_city,customer_state,customer_region,customer_lat,customer_lng
0,00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,osasco,SP,Southest,-23.499314,-46.767550
1,000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,sao paulo,SP,Southest,-23.738482,-46.689273
2,0005aefbb696d34b3424dccd0a0e9fd0,616309b2eeb7bd9c05b0fdfbab28e6c6,sao paulo,SP,Southest,-23.540546,-46.606968
3,00062b33cb9f6fe976afdcff967ea74d,f90f55ee274a4ae21510b386134b09cd,sao paulo,SP,Southest,-23.466214,-46.603454
4,001028b78fd413e19704b3867c369d3a,e57a935f49ffd73b93c18eaaa04efa84,sao paulo,SP,Southest,-23.565890,-46.764876
...,...,...,...,...,...,...,...
99436,ffdb7e488ea7c83b9c1258ee2d3776fa,271df0a7b98c752f9717a693bb33cafd,capelinha,MG,Southest,-17.695151,-42.517383
99437,ffe0aaaac429db7837e943b83ee6c385,121a8ecc8f0438fe59cd337db4d4ebf5,porto alegre,RS,South,-30.064348,-51.226661
99438,ffee99041e111172de2006fe9e90202a,5d7b01c0a09b912d9874a3fffdb858d5,imperatriz,MA,Northest,-5.511695,-47.472820
99439,fff0f9fbcdf9cfe4d9328bd3a7af71d7,0cb95f1e2d716b9f4cf002be8cee2d54,medina,MG,Southest,-16.226357,-41.478481
99440,fffeda5b6d849fbd39689bb92087f431,afbb5a642107cf6bb1ca68e863175f03,rio de janeiro,RJ,Southest,-22.961018,-43.215229

- Ôºç__`order_customer_info`__

	- Í∏∞Ï§ÄÏù∏ Ï£ºÎ¨∏ ÎÇ†ÏßúÏóê Í≥†Í∞ù Ï†ïÎ≥¥Î•º Î≥ëÌï©ÌïúÎã§.

In [8]:
order_customer_info = orders_datetime[['order_id', 'purchase_timestamp', 'customer_id']].merge(
	df_customers, how='left', on='customer_id'
)
order_customer_info

,order_id,purchase_timestamp,customer_id,customer_unique_id,customer_city,customer_state,customer_region,customer_lat,customer_lng
0,2e7a8482f6fb09756ca50c10d7bfc047,2016-09-04 21:15:19,08c5351a6aca1c1589a38f244edeee9d,b7d76e111c89f7ebf14761390f0f7d17,boa vista,RR,North,2.812997,-60.701117
1,bfbd0f9bdef84302105ad712db648a6c,2016-09-15 12:16:38,86dc2ffce2dfff336de2f386a786e574,830d5b7aaa3b6f1e9ad63703bec97d23,sao joaquim da barra,SP,Southest,-20.585396,-47.863156
2,3b697a20d9e427646d92567910af6d57,2016-10-03 09:44:50,355077684019f7f60a031656bd7262b8,32ea3bdedab835c3aa6cb68ce66565ef,sao paulo,SP,Southest,-23.581321,-46.635726
3,be5bc2f0da14d8071e2d45451ad119d9,2016-10-03 16:56:50,7ec40b22510fdbea1b08921dd39e63d8,2f64e403852e6893ae37485d5fcacdaf,panambi,RS,South,-28.291275,-53.501401
4,a41c8759fbe7aab36ea07e038b2d4465,2016-10-03 21:13:36,6f989332712d3222b6571b1cf5b835ce,61db744d2f835035a5625b59350c6b63,porto alegre,RS,South,-30.040958,-51.212970
...,...,...,...,...,...,...,...,...,...
98805,52018484704db3661b98ce838612b507,2018-08-29 12:25:59,e450a297a7bc6839ceb0cf1a2377fa02,7a22d14aa3c3599238509ddca4b93b01,sao paulo,SP,Southest,-23.678012,-46.765741
98806,0b223d92c27432930dfe407c6aea3041,2018-08-29 14:18:23,e60df9449653a95af4549bbfcb18a6eb,5c58de6fb80e93396e2f35642666b693,curitiba,PR,South,-25.426558,-49.255263
98807,168626408cb32af0ffaf76711caae1dc,2018-08-29 14:18:28,6e353700bc7bcdf6ebc15d6de16d7002,7febafa06d9d8f232a900a2937f04338,paracatu,MG,Southest,-17.223373,-46.875188
98808,03ef5dedbe7492bdae72eec50764c43f,2018-08-29 14:52:00,496630b6740bcca28fce9ba50d8a26ef,b701bebbdf478f5500348f03aff62121,sao caetano do sul,SP,Southest,-23.620032,-46.564027
98809,35a972d7f8436f405b56e36add1a7140,2018-08-29 15:00:37,898b7fee99c4e42170ab69ba59be0a8b,24ac2b4327e25baf39f2119e4228976a,limeira,SP,Southest,-22.561171,-47.447471

- Ôºç__`re_order_customers`__

	- Í≥†Í∞ùÏùò Ïû¨Íµ¨Îß§ Ïó¨Î∂ÄÎ•º Ï°∞ÏÇ¨ÌïúÎã§.

	- Ï¥ù Íµ¨Îß§ Í≥†Í∞ù 95558Î™Ö Ï§ë Ïû¨Ï£ºÎ¨∏Ìïú Í≥†Í∞ùÏùò ÏàòÎäî 2088Î™Ö $~~\dashrightarrow~~2.185\%~ (2.2\%)$

	- Ï≤´Íµ¨Îß§Î•º Ï†úÏô∏ÌïòÍ≥† Ïã§ Ïû¨Ï£ºÎ¨∏Ïóê Ìï¥ÎãπÌïòÎäî Ï£ºÎ¨∏ ID Ï†ïÎ≥¥Îßå Ï∂îÏ∂úÌïúÎã§.

	- Ï¥ù Ï£ºÎ¨∏ 98813Í±¥ Ï§ë Ïû¨Ï£ºÎ¨∏Í±¥ ÏàòÎäî 2313Í±¥(Ï≤´ Ï£ºÎ¨∏ Ï†úÏô∏) $~~\dashrightarrow~~2.341\%~ (2.3\%)$

In [9]:
def join_values(series):
    return ', '.join(series.astype('str'))

re_order_customers = order_customer_info[['order_id', 'purchase_timestamp', 'customer_unique_id']]
re_order_customers = re_order_customers.groupby(by='customer_unique_id', as_index=False).aggregate({
	'order_id': ['count', join_values],
	'purchase_timestamp': join_values
})
re_order_customers.columns = re_order_customers.columns.map('_'.join)
re_order_customers.rename(columns={
	'customer_unique_id_': 'customer_unique_id',
	'order_id_count': 'order_count',
	'order_id_join_values': 'total_order_id',
	'purchase_timestamp_join_values': 'total_order_timestamp'
}, inplace=True)
re_order_customers

,customer_unique_id,order_count,total_order_id,total_order_timestamp
0,0000366f3b9a7992bf8c76cfdf3221e2,1,e22acc9c116caa3f2b7121bbb380d08e,2018-05-10 10:56:27
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,3594e05a005ac4d06a72673270ef9ec9,2018-05-07 11:11:27
2,0000f46a3911fa3c0805444483337064,1,b33ec3b699337181488304f362a6b734,2017-03-10 21:05:03
3,0000f6ccb0745a6a4b88665a16c9f078,1,41272756ecddd9a9ed0180413cc22fb6,2017-10-12 20:29:41
4,0004aac84e0df4da2b147fca70cf8255,1,d957021f1127559cd947b62533f484f7,2017-11-14 19:45:42
...,...,...,...,...
95551,fffcf5a5ff07b0908bd4e2dbc735a684,1,725cf8e9c24e679a8a5a32cb92c9ce1e,2017-06-08 21:00:36
95552,fffea47cd6d3cc0a88bd621562a9d061,1,c71b9252fd7b3b263aaa4cb09319a323,2017-12-10 20:07:56
95553,ffff371b4d645b6ecea244b27531430a,1,fdc45e6c7555e6cb3cc0daca2557dbe1,2017-02-07 15:49:16
95554,ffff5962728ec6157033ef9805bacc48,1,94d3ee0bc2a0af9d4fa47a4d63616e8d,2018-05-02 15:17:41
95555,ffffd2657e2aad2907e67c3e9daecbeb,1,f79a35da168301ae56922475da21117b,2017-05-02 20:18:45

In [10]:
# Í≥†Í∞ùÎãπ Ïã§Íµ¨Îß§ ÌöüÏàòÎ•º Íµ¨ÌïúÎã§.
#--> Ï£ºÎ¨∏ ÏãúÍ∞ÑÏù¥ Ï∞®Ïù¥Í∞Ä 12ÏãúÍ∞Ñ Ïù¥ÏÉÅÏùº Îïå(Ïò§Ï†ÑÏóê Ï£ºÎ¨∏ÌïòÍ≥† Ï†ÄÎÖÅÏóê Ï£ºÎ¨∏ÌïòÎäî Í≤ΩÏö∞) Ïã§Íµ¨Îß§Î°ú Î≥∏Îã§.
def get_real_purchase_count(x):
    count = 1
    list = sorted([pd.to_datetime(d) for d in str(x).split(', ')])
    if len(list) > 1:
        for idx in range(0, len(list)-1):
            time_delta = (list[idx+1] - list[idx])
            diff_hours = (time_delta.days * 24) + (time_delta.seconds // 3600)
            if diff_hours > 12: 
                count += 1
                
    return count        

re_order_customers['real_order_count'] = re_order_customers['total_order_timestamp'].map(get_real_purchase_count)


# Ïû¨Íµ¨Îß§Î•º Ìïú Í≥†Í∞ù ÏïÑÏù¥ÎîîÏóê TrueÎ•º Ï§Ä Í≤É
re_order_customers['is_re_order'] = re_order_customers.apply(lambda row: (row['real_order_count'] > 1), axis=1)
re_order_customers

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
0,0000366f3b9a7992bf8c76cfdf3221e2,1,e22acc9c116caa3f2b7121bbb380d08e,2018-05-10 10:56:27,1,False
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,3594e05a005ac4d06a72673270ef9ec9,2018-05-07 11:11:27,1,False
2,0000f46a3911fa3c0805444483337064,1,b33ec3b699337181488304f362a6b734,2017-03-10 21:05:03,1,False
3,0000f6ccb0745a6a4b88665a16c9f078,1,41272756ecddd9a9ed0180413cc22fb6,2017-10-12 20:29:41,1,False
4,0004aac84e0df4da2b147fca70cf8255,1,d957021f1127559cd947b62533f484f7,2017-11-14 19:45:42,1,False
...,...,...,...,...,...,...
95551,fffcf5a5ff07b0908bd4e2dbc735a684,1,725cf8e9c24e679a8a5a32cb92c9ce1e,2017-06-08 21:00:36,1,False
95552,fffea47cd6d3cc0a88bd621562a9d061,1,c71b9252fd7b3b263aaa4cb09319a323,2017-12-10 20:07:56,1,False
95553,ffff371b4d645b6ecea244b27531430a,1,fdc45e6c7555e6cb3cc0daca2557dbe1,2017-02-07 15:49:16,1,False
95554,ffff5962728ec6157033ef9805bacc48,1,94d3ee0bc2a0af9d4fa47a4d63616e8d,2018-05-02 15:17:41,1,False
95555,ffffd2657e2aad2907e67c3e9daecbeb,1,f79a35da168301ae56922475da21117b,2017-05-02 20:18:45,1,False

In [11]:
re_order_customers[re_order_customers['is_re_order']==True]['customer_unique_id'].count() #--> Ïû¨ Ï£ºÎ¨∏Ìïú Í≥†Í∞ù Ïàò 2087Î™Ö

2087

In [12]:
re_order_customers[re_order_customers['is_re_order']==True]['real_order_count'].sum() - 2087 #--> Ïã§Ï†ú Ïû¨Ï£ºÎ¨∏ Í±¥Ïàò 2312Í±¥

2312

In [13]:
re_order_id = [] #--> Ïû¨Íµ¨Îß§Ïóê Ìï¥ÎãπÌïòÎäî 'order_id'Î•º Í∞ÄÏ†∏Ïò®Îã§.

def get_re_order_id(row):
    oid_list = row['total_order_id'].split(", ")
    dt_list = [pd.to_datetime(d) for d in str(row['total_order_timestamp']).split(', ')]
    # print(oid_list, dt_list, dt_list.index(dt_list[1]))
    
    for idx in range(0, len(dt_list)-1):
        time_delta = (dt_list[idx+1] - dt_list[idx])
        diff_hours = (time_delta.days * 24) + (time_delta.seconds // 3600)
        if diff_hours > 12: 
            re_order_id.append(oid_list[idx+1]) #--> Ï≤´Íµ¨Îß§ Ï†úÏô∏

re_order_customers[re_order_customers['is_re_order']==True].apply(get_re_order_id, axis=1)
len(re_order_id)

2312

In [14]:
# order_customer_infoÏóê Ïû¨Íµ¨Îß§ Ïó¨Î∂Ä Î∞òÏòÅ

order_customer_info['is_re_order'] = False
order_customer_info.loc[order_customer_info[order_customer_info['order_id'].isin(re_order_id)].index, 'is_re_order'] = True
order_customer_info[order_customer_info['is_re_order']==True]

,order_id,purchase_timestamp,customer_id,customer_unique_id,customer_city,customer_state,customer_region,customer_lat,customer_lng,is_re_order
162,835bf4777ad72891587719f1098e3528,2016-10-07 08:28:29,dbfc2fb6a9424037815a3a887c10be61,f7b62c75467e8ce080b201667cbbc274,diadema,SP,Southest,-23.697404,-46.619808,True
303,ec7a019261fce44180373d45b442d78f,2017-01-05 11:56:06,c24fc5f9a446b4d8262041b9c64de772,f7b981e8a280e455ac3cbe0d5d171bd1,curitiba,PR,South,-25.417200,-49.259469,True
636,51ceba3ba51d4b4543e7f78e181e0ba9,2017-01-23 13:31:26,e7659c6f9fc78ba546ee2b0615258589,a5d3bfee5b23b430b95c4ae295e1028a,mogi-guacu,SP,Southest,-22.382440,-46.947605,True
1050,adbbe31eab3ec8799e71b8fd89956464,2017-01-31 12:01:46,40e86a3dad650ba87f73f66396ca34ef,325e19085f3017b73be3d9fd98a93301,ibirite,MG,Southest,-20.022622,-44.059586,True
1597,ea8dfcfa112dd9df068022a643e58a22,2017-02-07 19:06:47,f783bb6d6728b05cb674fc6709a56302,a7bbfaf8a288c45dc38d4693535dd63f,ribeirao preto,SP,Southest,-21.132518,-47.846466,True
...,...,...,...,...,...,...,...,...,...,...
98732,57d0641da97fead93c9541a7c3b1fc75,2018-08-27 17:18:42,06909593a3382d75b06bcde5c527ad59,d44f553a3663a6323c901cf1f0a47c87,sao paulo,SP,Southest,-23.500115,-46.435075,True
98756,68dd7c23e8b6c1e5f3ad16be5dd4bdf6,2018-08-27 22:59:03,175f8430de932f744f8eebc3c680915e,41d57ab847e5ccbe403f46b07ee577d6,cotia,SP,Southest,-23.605706,-46.898514,True
98767,b18f96d97651133bd9a491945fa1d3bd,2018-08-28 10:57:13,e342cc220c9ce03ad61939a23e6571fd,34b0cd95480e55c2a701293a2b9671b3,sao paulo,SP,Southest,-23.478461,-46.748473,True
98790,d4fae577806d683110e00e18a5e181be,2018-08-28 19:32:05,49a6ae8a95c6a78d90945b983ab1ecfc,fb7e29c65321441231990afc201c1b14,sao paulo,SP,Southest,-23.580546,-46.634568,True
98795,3064071cf67a2cc381cd53b13055eac5,2018-08-28 21:56:12,931bfab7036f6763dc1bdf6e2696e08b,1041688b50cfd8ef6df6086a1746a30c,petropolis,RJ,Southest,-22.436879,-43.139746,True

In [15]:
show_info(order_customer_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98810 entries, 0 to 98809
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            98810 non-null  object
 1   purchase_timestamp  98810 non-null  datetime64[ns]
 2   customer_id         98810 non-null  object
 3   customer_unique_id  98810 non-null  object
 4   customer_city       98810 non-null  object
 5   customer_state      98810 non-null  object
 6   customer_region     98810 non-null  object
 7   customer_lat        98534 non-null  float64
 8   customer_lng        98534 non-null  float64
 9   is_re_order         98810 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(6)
memory usage: 6.9+ MB
---------------------------------------------------------
order_id                0
purchase_timestamp      0
customer_id             0
customer_unique_id      0
customer_city           0
customer_state          0
customer_region         0
customer_lat          276
customer_lng          276
is_re_order             0
dtype: int64

In [16]:
# orders_datetimeÏóêÎèÑ Ïû¨Íµ¨Îß§ Ïó¨Î∂Ä Î∞òÏòÅ

orders_datetime['is_re_order'] = False
orders_datetime.loc[orders_datetime[orders_datetime['order_id'].isin(re_order_id)].index, 'is_re_order'] = True
orders_datetime[orders_datetime['is_re_order']==True]

,order_id,customer_id,order_status,purchase_timestamp,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_timeslot,delivery_days,estimate_days,is_re_order
50569,835bf4777ad72891587719f1098e3528,dbfc2fb6a9424037815a3a887c10be61,delivered,2016-10-07 08:28:29,201610,2016,10,Oct,7,4,Fri,8,Morning,7.0,52,True
91328,ec7a019261fce44180373d45b442d78f,c24fc5f9a446b4d8262041b9c64de772,delivered,2017-01-05 11:56:06,201701,2017,1,Jan,5,3,Thu,11,Morning,6.0,26,True
31622,51ceba3ba51d4b4543e7f78e181e0ba9,e7659c6f9fc78ba546ee2b0615258589,delivered,2017-01-23 13:31:26,201701,2017,1,Jan,23,0,Mon,13,Afternoon,7.0,35,True
66837,adbbe31eab3ec8799e71b8fd89956464,40e86a3dad650ba87f73f66396ca34ef,delivered,2017-01-31 12:01:46,201701,2017,1,Jan,31,1,Tue,12,Morning,8.0,40,True
90581,ea8dfcfa112dd9df068022a643e58a22,f783bb6d6728b05cb674fc6709a56302,delivered,2017-02-07 19:06:47,201702,2017,2,Feb,7,1,Tue,19,Night,9.0,40,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33875,57d0641da97fead93c9541a7c3b1fc75,06909593a3382d75b06bcde5c527ad59,delivered,2018-08-27 17:18:42,201808,2018,8,Aug,27,0,Mon,17,Afternoon,3.0,3,True
40459,68dd7c23e8b6c1e5f3ad16be5dd4bdf6,175f8430de932f744f8eebc3c680915e,delivered,2018-08-27 22:59:03,201808,2018,8,Aug,27,0,Mon,22,Night,1.0,2,True
68362,b18f96d97651133bd9a491945fa1d3bd,e342cc220c9ce03ad61939a23e6571fd,delivered,2018-08-28 10:57:13,201808,2018,8,Aug,28,1,Tue,10,Morning,2.0,2,True
82352,d4fae577806d683110e00e18a5e181be,49a6ae8a95c6a78d90945b983ab1ecfc,delivered,2018-08-28 19:32:05,201808,2018,8,Aug,28,1,Tue,19,Night,1.0,14,True
18580,3064071cf67a2cc381cd53b13055eac5,931bfab7036f6763dc1bdf6e2696e08b,delivered,2018-08-28 21:56:12,201808,2018,8,Aug,28,1,Tue,21,Night,1.0,5,True

### üé´ __orders_info__

In [17]:
query = """
SELECT
	i.order_id,
	i.order_item_id,
	i.price,
	i.freight_value freight,
	i.product_id,
	p.product_category_name product_category,
	p.product_description_lenght product_desc_len,
	p.product_photos_qty,
	(p.product_weight_g/1000) product_weight_kg,
	(p.product_length_cm * p.product_height_cm * p.product_width_cm /1000) product_volume_L,
	i.seller_id
FROM olist_order_items i
LEFT JOIN olist_products p ON i.product_id=p.product_id
"""

df_order_items = pd.read_sql(query, engine)
df_order_items

,order_id,order_item_id,price,freight,product_id,product_category,product_desc_len,product_photos_qty,product_weight_kg,product_volume_L,seller_id
0,00010242fe8c5a6d1ba2dd792cb16214,1,58.90,13.29,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,598.0,4.0,0.650,3.528,48436dade18ac8b2bce089ec2a041202
1,00018f77f2f0320c557190d7a144bdd3,1,239.90,19.93,e5f2d52b802189ee658865ca93d83a8f,pet_shop,239.0,2.0,30.000,60.000,dd7ddc04e1b6c2c614352b383efe2d36
2,000229ec398224ef6ca0657da4fc703e,1,199.00,17.87,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,695.0,2.0,3.050,14.157,5b51032eddd242adc84c38acab88f23d
3,00024acbcdf0a6daa1e931b038114c75,1,12.99,12.79,7634da152a4610f1595efa32f14722fc,perfumery,480.0,1.0,0.200,2.400,9d7a1d34a5052409006425275ba1c2b4
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,199.90,18.14,ac6c3623068f30de03045865e4e10089,garden_tools,409.0,1.0,3.750,42.000,df560393f3a51e74553ab94004ba5c87
...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,299.99,43.41,4aa6014eceb682077f9dc4bffebc05b0,housewares,1002.0,3.0,10.150,53.400,b8bc237ba3788b23da09c0f1f3a3288c
112646,fffcd46ef2263f404302a634eb57f7eb,1,350.00,36.53,32e07fd915822b0765e448c4dd74c828,computers_accessories,232.0,1.0,8.950,44.460,f3c38ab652836d21de61fb8314b69182
112647,fffce4705a9662cd70adb13d4a31832d,1,99.90,16.95,72a30483855e2eafc67aee5dc2560482,sports_leisure,869.0,1.0,0.967,9.576,c3cfdc648177fdbbbb35635a37472c53
112648,fffe18544ffabc95dfada21779c9644f,1,55.99,8.72,9c422a519119dcad7575db5af1ba540e,computers_accessories,1306.0,1.0,0.100,8.000,2b3e4a2a3ea8e01938cabda2a3e5cc79
112649,fffe41c64501cc87c801fd61db3f6244,1,43.00,12.79,350688d9dc1e75ff97be326363655e01,bed_bath_table,511.0,1.0,0.600,1.710,f7ccf836d21b2fb1de37564105216cc1

In [18]:
cols = ['product_category','product_desc_len','product_photos_qty','product_weight_kg','product_volume_L']
idxs = df_order_items.query("product_id=='5eb564652db742ff8f28759cd8d2652a'").index
df_order_items.loc[idxs, cols] = ['electronic',970,3,0.185,7.100]
df_order_items.loc[58833, ['product_weight_kg','product_volume_L']] = [12.640, 112.535]
show_info(df_order_items)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   order_id            112650 non-null  object
 1   order_item_id       112650 non-null  int64
 2   price               112650 non-null  float64
 3   freight             112650 non-null  float64
 4   product_id          112650 non-null  object
 5   product_category    112650 non-null  object
 6   product_desc_len    112650 non-null  float64
 7   product_photos_qty  112650 non-null  float64
 8   product_weight_kg   112650 non-null  float64
 9   product_volume_L    112650 non-null  float64
 10  seller_id           112650 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 9.5+ MB
---------------------------------------------------------
order_id              0
order_item_id         0
price                 0
freight               0
product_id            0
product_category      0
product_desc_len      0
product_photos_qty    0
product_weight_kg     0
product_volume_L      0
seller_id             0
dtype: int64

- Ôºç__`order_items`__

	- Get Unique Order ID : 98666

	- Í∏∞Ï§ÄÏúºÎ°ú ÏÇºÏùÄ Ï£ºÎ¨∏ ÎÇ†Ïßú Îç∞Ïù¥ÌÑ∞(orders_datetime)ÏôÄ ÏÉÅÍ¥ÄÏóÜÏù¥ Ïò§Î°úÏßÄ ÌíàÎ™©(Items)Ïóê ÎåÄÌïú Ï†ïÎ≥¥Îßå Ï†ïÎ¶¨Ìïú Í≤ÉÏù¥Îã§.

	- Ïó¨Í∏∞ÏÑú Ï£ºÎ¨∏(order_id) Îãπ Ï¥ù Íµ¨Îß§ ÌíàÎ™© ÏàòÏôÄ Ï¥ù Ï£ºÎ¨∏ Í∞ÄÍ≤© Î∞è Ïö¥ÏûÑÎ£åÎ•º Í≥ÑÏÇ∞ÌïúÎã§.

		- `order_item_id`Îäî ÌïòÎÇòÏùò Ï£ºÎ¨∏ IDÏóê Ìè¨Ìï®Îêú ÌíàÎ™© ÏàòÎ•º ÏãùÎ≥ÑÌïòÎäî ÏùºÎ†® Î≤àÌò∏Î°ú Ï†úÏùº ÎßàÏßÄÎßâ ÏàòÍ∞Ä Ï£ºÎ¨∏Îãπ Î¨ºÍ±¥Ïùò Ï¥ù Í∞úÏàòÏù¥Îã§.

		- Ìïú Í∞úÏùò ÌíàÎ™©ÎßàÎã§ ÎÇòÎà†Ï†∏ ÏûàÎäî `order_id`Î•º ÌïòÎÇòÎ°ú Ìï©ÏπòÍ≥† Íµ¨Îß§ Í∞ÄÍ≤©Í≥º ÌôîÎ¨º Í∞ÄÍ≤©ÏùÑ Ìï©ÏÇ∞ÌïòÏó¨ Ï¥ùÏï°ÏùÑ Íµ¨ÌïúÎã§.<br></br>

	- Íµ¨Îß§ Í∞ÄÍ≤© ÎåÄÎπÑ Ïö¥ÏûÑÎ£å ÎπÑÏú®ÏùÑ %Î°ú Í≥ÑÏÇ∞Ìï¥ Ï∂îÍ∞ÄÌïúÎã§.

	- Ï£ºÎ¨∏Î≥Ñ Ï†úÌíà ÏÑ§Î™Ö Í∏∏Ïù¥, ÏÇ¨ÏßÑ Ïàò, Î¨¥Í≤å, Î∂ÄÌîºÎäî ÌèâÍ∑†ÏúºÎ°ú ÏßëÍ≥ÑÌïúÎã§.

In [20]:
def join_unique_values(series):
    unique_values = series.drop_duplicates()
    return ', '.join(unique_values.astype('str'))

order_items = df_order_items.groupby('order_id', as_index=False).aggregate({
    'order_item_id': 'last',
    'price': 'sum', 'freight': 'sum',
    'product_id': join_unique_values,
    'product_category': join_unique_values,
    'product_desc_len': 'mean', 'product_photos_qty': 'mean',
    'product_weight_kg': 'mean', 'product_volume_L': 'mean',
    'seller_id' : join_unique_values,
})
order_items['pf_ratio'] = order_items['freight'] / order_items['price'] * 100
order_items

,order_id,order_item_id,price,freight,product_id,product_category,product_desc_len,product_photos_qty,product_weight_kg,product_volume_L,seller_id,pf_ratio
0,00010242fe8c5a6d1ba2dd792cb16214,1,58.90,13.29,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,598.0,4.0,0.650,3.528,48436dade18ac8b2bce089ec2a041202,22.563667
1,00018f77f2f0320c557190d7a144bdd3,1,239.90,19.93,e5f2d52b802189ee658865ca93d83a8f,pet_shop,239.0,2.0,30.000,60.000,dd7ddc04e1b6c2c614352b383efe2d36,8.307628
2,000229ec398224ef6ca0657da4fc703e,1,199.00,17.87,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,695.0,2.0,3.050,14.157,5b51032eddd242adc84c38acab88f23d,8.979899
3,00024acbcdf0a6daa1e931b038114c75,1,12.99,12.79,7634da152a4610f1595efa32f14722fc,perfumery,480.0,1.0,0.200,2.400,9d7a1d34a5052409006425275ba1c2b4,98.460354
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,199.90,18.14,ac6c3623068f30de03045865e4e10089,garden_tools,409.0,1.0,3.750,42.000,df560393f3a51e74553ab94004ba5c87,9.074537
...,...,...,...,...,...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,1,299.99,43.41,4aa6014eceb682077f9dc4bffebc05b0,housewares,1002.0,3.0,10.150,53.400,b8bc237ba3788b23da09c0f1f3a3288c,14.470482
98662,fffcd46ef2263f404302a634eb57f7eb,1,350.00,36.53,32e07fd915822b0765e448c4dd74c828,computers_accessories,232.0,1.0,8.950,44.460,f3c38ab652836d21de61fb8314b69182,10.437143
98663,fffce4705a9662cd70adb13d4a31832d,1,99.90,16.95,72a30483855e2eafc67aee5dc2560482,sports_leisure,869.0,1.0,0.967,9.576,c3cfdc648177fdbbbb35635a37472c53,16.966967
98664,fffe18544ffabc95dfada21779c9644f,1,55.99,8.72,9c422a519119dcad7575db5af1ba540e,computers_accessories,1306.0,1.0,0.100,8.000,2b3e4a2a3ea8e01938cabda2a3e5cc79,15.574210
98665,fffe41c64501cc87c801fd61db3f6244,1,43.00,12.79,350688d9dc1e75ff97be326363655e01,bed_bath_table,511.0,1.0,0.600,1.710,f7ccf836d21b2fb1de37564105216cc1,29.744186

In [21]:
def get_count(x):
    list = str(x).split(', ')
    return len(list)

order_items['product_count'] = order_items['product_id'].map(get_count)
order_items['seller_count'] = order_items['seller_id'].map(get_count)
order_items.rename(columns={'order_item_id': 'item_count'}, inplace=True)
order_items = order_items[[
	'order_id', 'item_count', 'price', 'freight', 'pf_ratio',
 	'product_id', 'product_count', 'seller_id', 'seller_count',
	'product_category', 'product_desc_len', 'product_photos_qty', 'product_weight_kg', 'product_volume_L'
]]
order_items

,order_id,item_count,price,freight,pf_ratio,product_id,product_count,seller_id,seller_count,product_category,product_desc_len,product_photos_qty,product_weight_kg,product_volume_L
0,00010242fe8c5a6d1ba2dd792cb16214,1,58.90,13.29,22.563667,4244733e06e7ecb4970a6e2683c13e61,1,48436dade18ac8b2bce089ec2a041202,1,cool_stuff,598.0,4.0,0.650,3.528
1,00018f77f2f0320c557190d7a144bdd3,1,239.90,19.93,8.307628,e5f2d52b802189ee658865ca93d83a8f,1,dd7ddc04e1b6c2c614352b383efe2d36,1,pet_shop,239.0,2.0,30.000,60.000
2,000229ec398224ef6ca0657da4fc703e,1,199.00,17.87,8.979899,c777355d18b72b67abbeef9df44fd0fd,1,5b51032eddd242adc84c38acab88f23d,1,furniture_decor,695.0,2.0,3.050,14.157
3,00024acbcdf0a6daa1e931b038114c75,1,12.99,12.79,98.460354,7634da152a4610f1595efa32f14722fc,1,9d7a1d34a5052409006425275ba1c2b4,1,perfumery,480.0,1.0,0.200,2.400
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,199.90,18.14,9.074537,ac6c3623068f30de03045865e4e10089,1,df560393f3a51e74553ab94004ba5c87,1,garden_tools,409.0,1.0,3.750,42.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,1,299.99,43.41,14.470482,4aa6014eceb682077f9dc4bffebc05b0,1,b8bc237ba3788b23da09c0f1f3a3288c,1,housewares,1002.0,3.0,10.150,53.400
98662,fffcd46ef2263f404302a634eb57f7eb,1,350.00,36.53,10.437143,32e07fd915822b0765e448c4dd74c828,1,f3c38ab652836d21de61fb8314b69182,1,computers_accessories,232.0,1.0,8.950,44.460
98663,fffce4705a9662cd70adb13d4a31832d,1,99.90,16.95,16.966967,72a30483855e2eafc67aee5dc2560482,1,c3cfdc648177fdbbbb35635a37472c53,1,sports_leisure,869.0,1.0,0.967,9.576
98664,fffe18544ffabc95dfada21779c9644f,1,55.99,8.72,15.574210,9c422a519119dcad7575db5af1ba540e,1,2b3e4a2a3ea8e01938cabda2a3e5cc79,1,computers_accessories,1306.0,1.0,0.100,8.000
98665,fffe41c64501cc87c801fd61db3f6244,1,43.00,12.79,29.744186,350688d9dc1e75ff97be326363655e01,1,f7ccf836d21b2fb1de37564105216cc1,1,bed_bath_table,511.0,1.0,0.600,1.710

- Ôºç__`orders_info`__

	- Ï£ºÎ¨∏ ÎÇ†ÏßúÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï£ºÎ¨∏ ÌíàÎ™©(item) Ï†ïÎ≥¥ÏôÄ Ï£ºÎ¨∏ Í≥†Í∞ù(customer) Ï†ïÎ≥¥, ÌõÑÍ∏∞(review) Ï†ïÎ≥¥Î•º Î≥ëÌï©ÌïúÎã§.

In [22]:
# Ï£ºÎ¨∏ ÎÇ†Ïßú(orders_datetime) Í∏∞Ï§ÄÏúºÎ°ú Ï£ºÎ¨∏ ÌíàÎ™© Ï†ïÎ≥¥(order_items_info)Î•º Î≥ëÌï©

orders_dt_cols = [
	'order_id', 'customer_id', 'is_re_order', 'order_status', 'purchase_timestamp', 'purchase_year_month', 'purchase_month', 
	'purchase_week_no', 'purchase_week_name', 'purchase_hour', 'purchase_timeslot', 'delivery_days', 'estimate_days'
]
order_items_info = orders_datetime[orders_dt_cols].merge(order_items, how='left', on='order_id')
order_items_info

,order_id,customer_id,is_re_order,order_status,purchase_timestamp,purchase_year_month,purchase_month,purchase_week_no,purchase_week_name,purchase_hour,purchase_timeslot,delivery_days,estimate_days,item_count,price,freight,pf_ratio,product_id,product_count,seller_id,seller_count,product_category,product_desc_len,product_photos_qty,product_weight_kg,product_volume_L
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,False,shipped,2016-09-04 21:15:19,201609,9,6,Sun,21,Night,NaN,45,2.0,72.89,63.34,86.898066,"c1488892604e4ba5cff5b4eb4d595400, f293394c72c9...",2.0,1554a68530182680ad5c8b042c3ab563,1.0,furniture_decor,590.0,2.5,1.600,5.376
1,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,False,delivered,2016-09-15 12:16:38,201609,9,3,Thu,12,Morning,54.0,18,3.0,134.97,8.49,6.290287,5a6b04657a4c5ee34285d1e4619a96b4,1.0,ecccfa2bb93b34a3bf033cc5d1dcdc69,1.0,health_beauty,1036.0,1.0,1.000,4.096
2,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,False,delivered,2016-10-03 09:44:50,201610,10,0,Mon,9,Morning,23.0,23,1.0,29.90,15.56,52.040134,3ae08df6bcbfe23586dd431c40bddbb7,1.0,522620dcb18a6b31cd7bdf73665113a9,1.0,watches_gifts,1642.0,3.0,0.300,4.096
3,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,False,delivered,2016-10-03 16:56:50,201610,10,0,Mon,16,Afternoon,24.0,34,1.0,21.90,17.19,78.493151,fd7fd78fd3cbc1b0a6370a7909c0a629,1.0,f09b760d23495ac9a7e00d29b769007c,1.0,sports_leisure,518.0,1.0,0.400,4.096
4,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,False,delivered,2016-10-03 21:13:36,201610,10,0,Mon,21,Night,30.0,56,1.0,36.49,17.24,47.245821,b72b39418216e944bb34e35f4d3ea8c7,1.0,45d33f715e24d15a6ccf5c17b3a23e3c,1.0,sports_leisure,141.0,1.0,0.767,4.160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98805,52018484704db3661b98ce838612b507,e450a297a7bc6839ceb0cf1a2377fa02,False,delivered,2018-08-29 12:25:59,201808,8,2,Wed,12,Morning,1.0,4,1.0,63.90,9.20,14.397496,777798445efd625458a90c13f3b3e6e7,1.0,5f2684dab12e59f83bef73ae57724e45,1.0,toys,711.0,2.0,1.500,11.088
98806,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,False,delivered,2018-08-29 14:18:23,201808,8,2,Wed,14,Afternoon,1.0,5,2.0,418.00,92.96,22.239234,2b4472df15512a2825ae86fd9ae79335,1.0,67bf6941ba2f1fa1d02c375766bc3e53,1.0,kitchen_dining_laundry_garden_furniture,112.0,1.0,13.550,115.248
98807,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,False,delivered,2018-08-29 14:18:28,201808,8,2,Wed,14,Afternoon,1.0,12,1.0,45.90,15.39,33.529412,bdcf6a834e8faa30dac3886c7a58e92e,1.0,2a84855fd20af891be03bc5924d2b453,1.0,health_beauty,394.0,1.0,1.614,13.888
98808,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,False,delivered,2018-08-29 14:52:00,201808,8,2,Wed,14,Afternoon,1.0,4,1.0,24.90,8.33,33.453815,c7f27c5bef2338541c772b5776403e6a,1.0,7d7866a99a8656a42c7ff6352a433410,1.0,party_supplies,429.0,1.0,0.450,4.788
98809,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,False,delivered,2018-08-29 15:00:37,201808,8,2,Wed,15,Afternoon,1.0,6,1.0,84.99,8.76,10.307095,d04857e7b4b708ee8b8b9921163edba3,1.0,9f505651f4a6abe901a56cdc21508025,1.0,computers_accessories,1127.0,2.0,0.450,1.280

In [23]:
# Í≥†Í∞ù Ï†ïÎ≥¥(order_customer_info) Ï∂îÍ∞Ä Î≥ëÌï©

orders_info = order_items_info.merge(
	order_customer_info[['customer_id', 'customer_unique_id', 'customer_city', 'customer_state', 'customer_region', 'customer_lat', 'customer_lng']],
	how='left', on='customer_id'
)
orders_info

,order_id,customer_id,is_re_order,order_status,purchase_timestamp,purchase_year_month,purchase_month,purchase_week_no,purchase_week_name,purchase_hour,purchase_timeslot,delivery_days,estimate_days,item_count,price,freight,pf_ratio,product_id,product_count,seller_id,seller_count,product_category,product_desc_len,product_photos_qty,product_weight_kg,product_volume_L,customer_unique_id,customer_city,customer_state,customer_region,customer_lat,customer_lng
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,False,shipped,2016-09-04 21:15:19,201609,9,6,Sun,21,Night,NaN,45,2.0,72.89,63.34,86.898066,"c1488892604e4ba5cff5b4eb4d595400, f293394c72c9...",2.0,1554a68530182680ad5c8b042c3ab563,1.0,furniture_decor,590.0,2.5,1.600,5.376,b7d76e111c89f7ebf14761390f0f7d17,boa vista,RR,North,2.812997,-60.701117
1,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,False,delivered,2016-09-15 12:16:38,201609,9,3,Thu,12,Morning,54.0,18,3.0,134.97,8.49,6.290287,5a6b04657a4c5ee34285d1e4619a96b4,1.0,ecccfa2bb93b34a3bf033cc5d1dcdc69,1.0,health_beauty,1036.0,1.0,1.000,4.096,830d5b7aaa3b6f1e9ad63703bec97d23,sao joaquim da barra,SP,Southest,-20.585396,-47.863156
2,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,False,delivered,2016-10-03 09:44:50,201610,10,0,Mon,9,Morning,23.0,23,1.0,29.90,15.56,52.040134,3ae08df6bcbfe23586dd431c40bddbb7,1.0,522620dcb18a6b31cd7bdf73665113a9,1.0,watches_gifts,1642.0,3.0,0.300,4.096,32ea3bdedab835c3aa6cb68ce66565ef,sao paulo,SP,Southest,-23.581321,-46.635726
3,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,False,delivered,2016-10-03 16:56:50,201610,10,0,Mon,16,Afternoon,24.0,34,1.0,21.90,17.19,78.493151,fd7fd78fd3cbc1b0a6370a7909c0a629,1.0,f09b760d23495ac9a7e00d29b769007c,1.0,sports_leisure,518.0,1.0,0.400,4.096,2f64e403852e6893ae37485d5fcacdaf,panambi,RS,South,-28.291275,-53.501401
4,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,False,delivered,2016-10-03 21:13:36,201610,10,0,Mon,21,Night,30.0,56,1.0,36.49,17.24,47.245821,b72b39418216e944bb34e35f4d3ea8c7,1.0,45d33f715e24d15a6ccf5c17b3a23e3c,1.0,sports_leisure,141.0,1.0,0.767,4.160,61db744d2f835035a5625b59350c6b63,porto alegre,RS,South,-30.040958,-51.212970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98805,52018484704db3661b98ce838612b507,e450a297a7bc6839ceb0cf1a2377fa02,False,delivered,2018-08-29 12:25:59,201808,8,2,Wed,12,Morning,1.0,4,1.0,63.90,9.20,14.397496,777798445efd625458a90c13f3b3e6e7,1.0,5f2684dab12e59f83bef73ae57724e45,1.0,toys,711.0,2.0,1.500,11.088,7a22d14aa3c3599238509ddca4b93b01,sao paulo,SP,Southest,-23.678012,-46.765741
98806,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,False,delivered,2018-08-29 14:18:23,201808,8,2,Wed,14,Afternoon,1.0,5,2.0,418.00,92.96,22.239234,2b4472df15512a2825ae86fd9ae79335,1.0,67bf6941ba2f1fa1d02c375766bc3e53,1.0,kitchen_dining_laundry_garden_furniture,112.0,1.0,13.550,115.248,5c58de6fb80e93396e2f35642666b693,curitiba,PR,South,-25.426558,-49.255263
98807,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,False,delivered,2018-08-29 14:18:28,201808,8,2,Wed,14,Afternoon,1.0,12,1.0,45.90,15.39,33.529412,bdcf6a834e8faa30dac3886c7a58e92e,1.0,2a84855fd20af891be03bc5924d2b453,1.0,health_beauty,394.0,1.0,1.614,13.888,7febafa06d9d8f232a900a2937f04338,paracatu,MG,Southest,-17.223373,-46.875188
98808,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,False,delivered,2018-08-29 14:52:00,201808,8,2,Wed,14,Afternoon,1.0,4,1.0,24.90,8.33,33.453815,c7f27c5bef2338541c772b5776403e6a,1.0,7d7866a99a8656a42c7ff6352a433410,1.0,party_supplies,429.0,1.0,0.450,4.788,b701bebbdf478f5500348f03aff62121,sao caetano do sul,SP,Southest,-23.620032,-46.564027
98809,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,False,delivered,2018-08-29 15:00:37,201808,8,2,Wed,15,Afternoon,1.0,6,1.0,84.99,8.76,10.307095,d04857e7b4b708ee8b8b9921163edba3,1.0,9f505651f4a6abe901a56cdc21508025,1.0,computers_accessories,1127.0,2.0,0.450,1.280,24ac2b4327e25baf39f2119e4228976a,limeira,SP,Southest,-22.561171,-47.447471

In [24]:
query = """
SELECT order_id, review_score, LENGTH(review_comment_message) review_len FROM olist_order_reviews;
"""
df_reviews = pd.read_sql(query, engine)


# review_len nullÍ∞í 0ÏúºÎ°ú Ï±ÑÏö∞Í∏∞
df_reviews.loc[df_reviews[df_reviews['review_len'].isna()].index, 'review_len'] = 0
df_reviews

                               order_id  review_score  review_len
0      73fc7af87114b39712e6da79b0a377eb             4         0.0
1      a548910a1c6147796b98fdf73dbeba33             5         0.0
2      f9e4b658b201a9f2ecdecbb34bed034b             5         0.0
3      658677c97b385a9be170737859d3511b             5        37.0
4      8e6bfb81e283fa7e4f11123a3fb894f1             5       104.0
...                                 ...           ...         ...
99219  2a8c23fee101d4d5662fa670396eb8da             5         0.0
99220  22ec9f0669f784db00fa86d035cf8602             5         0.0
99221  55d4004744368f5571d1f590031933e4             5        68.0
99222  7725825d039fc1f0ceb7635e3f7d9206             4         0.0
99223  90531360ecb1eec2a1fbb265a0db0508             1        87.0

[99224 rows x 3 columns]

In [25]:
review_info = df_reviews.groupby(by='order_id', as_index=False).agg('mean')
orders_info = orders_info.merge(review_info, how='left', on='order_id')

In [26]:
orders_info.loc[orders_info[orders_info['review_score'].isna()].index, 'review_score'] = 0
orders_info.loc[orders_info[orders_info['review_len'].isna()].index, 'review_len'] = 0
show_info(orders_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98810 entries, 0 to 98809
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             98810 non-null  object
 1   customer_id          98810 non-null  object
 2   is_re_order          98810 non-null  bool
 3   order_status         98810 non-null  object
 4   purchase_timestamp   98810 non-null  datetime64[ns]
 5   purchase_year_month  98810 non-null  object
 6   purchase_month       98810 non-null  int64
 7   purchase_week_no     98810 non-null  int64
 8   purchase_week_name   98810 non-null  object
 9   purchase_hour        98810 non-null  int64
 10  purchase_timeslot    98810 non-null  category
 11  delivery_days        96470 non-null  float64
 12  estimate_days        98810 non-null  int64
 13  item_count           98204 non-null  float64
 14  price                98204 non-null  float64
 15  freight              98204 non-null  float64
 16  pf_ratio             98204 non-null  float64
 17  product_id           98204 non-null  object
 18  product_count        98204 non-null  float64
 19  seller_id            98204 non-null  object
 20  seller_count         98204 non-null  float64
 21  product_category     98204 non-null  object
 22  product_desc_len     98204 non-null  float64
 23  product_photos_qty   98204 non-null  float64
 24  product_weight_kg    98204 non-null  float64
 25  product_volume_L     98204 non-null  float64
 26  customer_unique_id   98810 non-null  object
 27  customer_city        98810 non-null  object
 28  customer_state       98810 non-null  object
 29  customer_region      98810 non-null  object
 30  customer_lat         98534 non-null  float64
 31  customer_lng         98534 non-null  float64
 32  review_score         98810 non-null  float64
 33  review_len           98810 non-null  float64
dtypes: bool(1), category(1), datetime64[ns](1), float64(15), int64(4), object(12)
memory usage: 24.3+ MB
---------------------------------------------------------
order_id                  0
customer_id               0
is_re_order               0
order_status              0
purchase_timestamp        0
purchase_year_month       0
purchase_month            0
purchase_week_no          0
purchase_week_name        0
purchase_hour             0
purchase_timeslot         0
delivery_days          2340
estimate_days             0
item_count              606
price                   606
freight                 606
pf_ratio                606
product_id              606
product_count           606
seller_id               606
seller_count            606
product_category        606
product_desc_len        606
product_photos_qty      606
product_weight_kg       606
product_volume_L        606
customer_unique_id        0
customer_city             0
customer_state            0
customer_region           0
customer_lat            276
customer_lng            276
review_score              0
review_len                0
dtype: int64

In [64]:
# orders_info.to_sql(name='cm_orders_info', con=engine, index=False)

98810

### üé´ __`sellers_info`__

In [27]:
query = """
SELECT
	s.seller_id,
	s.seller_city,
	s.seller_state,
	r.Region seller_region,
	g.geolocation_lat seller_lat,
	g.geolocation_lng seller_lng
FROM olist_sellers s
LEFT JOIN brazil_state_region r ON s.seller_state=r.State
LEFT JOIN olist_geolocation_region g ON s.seller_zip_code_prefix=g.geolocation_zip_code_prefix
"""

df_sellers = pd.read_sql(query, engine)
df_sellers

,seller_id,seller_city,seller_state,seller_region,seller_lat,seller_lng
0,00720abe85ba0859807595bbf045a33b,guarulhos,SP,Southest,-23.451475,-46.557386
1,00ab3eff1b5192e5f1a63bcecfee11c8,sao paulo,SP,Southest,-23.628937,-46.608186
2,00ee68308b45bc5e2660cd833c3f81cc,sao paulo,SP,Southest,-23.556430,-46.568530
3,010543a62bd80aa422851e79a3bc7540,sao paulo,SP,Southest,-23.537493,-46.639745
4,0249d282d911d23cb8b869ab49c99f53,sao paulo,SP,Southest,-23.601384,-46.697738
...,...,...,...,...,...,...
3090,fdaaf5bfda82b7b80535610c831b8d09,sao jose do rio preto,SP,Southest,-20.816648,-49.386547
3091,fdf736c18c589ed030e058312203e1b2,pocos de caldas,MG,Southest,-21.792210,-46.551607
3092,fe2032dab1a61af8794248c8196565c9,campinas,SP,Southest,-22.924930,-47.074294
3093,ffeee66ac5d5a62fe688b9d26f83f534,mirassol,SP,Southest,-20.815284,-49.507466
3094,fffd5413c0700ac820c7069d66d98c89,amparo,SP,Southest,-22.722793,-46.846086

- Ôºç__`order_seller_info`__ <br></br>

	- `df_order_items` : Ïó¨Í∏∞Ïóê seller_idÍ∞Ä Ï°¥Ïû¨ÌïúÎã§.

		$~~\Uparrow \\ ~~\Vert ~~ \text{Merge} \\ ~~ \Vert$
	
	- `df_sellers` : ÌåêÎß§Ïûê Ï†ïÎ≥¥ Î≥ëÌï©

		$~~\Uparrow \\ ~~\Vert ~~ \text{Merge ÌõÑ Ï£ºÎ¨∏Ïùº Ï†ïÎ≥¥Í∞Ä ÏóÜÎäî Í≤∞Ï∏°Ïπò Ìñâ 543Í∞úÎ•º Ï†úÍ±∞ÌïúÎã§.} \\ ~~ \Vert$
		
	- `orders_datetime` : Ï£ºÎ¨∏Ïùº Ï†ïÎ≥¥ Î≥ëÌï©

In [28]:
# seller_idÍ∞Ä Ï°¥Ïû¨ÌïòÎäî Î¨ºÌíà Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞ÏÖã(df_order_items)Ïóê ÌåêÎß§Ïûê Ï†ïÎ≥¥ Î≥ëÌï©
order_seller_info = df_order_items.merge(df_sellers, how='left', on='seller_id')


# Ï£ºÎ¨∏ ÎÇ†Ïßú Ï∂îÍ∞Ä Î≥ëÌï©
order_seller_info = order_seller_info.merge(
    orders_datetime[['order_id', 'purchase_timestamp', 'is_re_order', 'order_status']], how='left', on='order_id'
)

# Ï£ºÎ¨∏ ÎÇ†Ïßú Ï†ïÎ≥¥Í∞Ä ÏóÜÎäî Ï£ºÎ¨∏ Îç∞Ïù¥ÌÑ∞Îäî ÏÇ≠Ï†úÌïúÎã§.
order_seller_info.dropna(subset=['purchase_timestamp', 'is_re_order'], how='all', inplace=True)


# Ïª¨Îüº Ï†ïÎ¶¨
cols = [
	'order_id', 'is_re_order', 'purchase_timestamp', 'order_item_id', 'price', 'freight', 'order_status',
 	'seller_id', 'seller_city', 'seller_state', 'seller_region', 'seller_lat', 'seller_lng',
	'product_category', 'product_desc_len', 'product_photos_qty', 'product_weight_kg', 'product_volume_L'
]
order_seller_info = order_seller_info[cols]
order_seller_info['is_re_order'] = order_seller_info['is_re_order'].astype('bool')
order_seller_info

,order_id,is_re_order,purchase_timestamp,order_item_id,price,freight,order_status,seller_id,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_category,product_desc_len,product_photos_qty,product_weight_kg,product_volume_L
0,00010242fe8c5a6d1ba2dd792cb16214,False,2017-09-13 08:59:02,1,58.90,13.29,delivered,48436dade18ac8b2bce089ec2a041202,volta redonda,SP,Southest,-22.498419,-44.125272,cool_stuff,598.0,4.0,0.650,3.528
1,00018f77f2f0320c557190d7a144bdd3,False,2017-04-26 10:53:06,1,239.90,19.93,delivered,dd7ddc04e1b6c2c614352b383efe2d36,sao paulo,SP,Southest,-23.564289,-46.519045,pet_shop,239.0,2.0,30.000,60.000
2,000229ec398224ef6ca0657da4fc703e,False,2018-01-14 14:33:31,1,199.00,17.87,delivered,5b51032eddd242adc84c38acab88f23d,borda da mata,MG,Southest,-22.271648,-46.165556,furniture_decor,695.0,2.0,3.050,14.157
3,00024acbcdf0a6daa1e931b038114c75,False,2018-08-08 10:00:35,1,12.99,12.79,delivered,9d7a1d34a5052409006425275ba1c2b4,franca,SP,Southest,-20.554951,-47.387691,perfumery,480.0,1.0,0.200,2.400
4,00042b26cf59d7ce69dfabb4e55b4fd9,False,2017-02-04 13:57:51,1,199.90,18.14,delivered,df560393f3a51e74553ab94004ba5c87,loanda,PR,South,-22.930408,-53.136438,garden_tools,409.0,1.0,3.750,42.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,False,2018-04-23 13:57:06,1,299.99,43.41,delivered,b8bc237ba3788b23da09c0f1f3a3288c,itajai,SC,South,-26.912616,-48.674015,housewares,1002.0,3.0,10.150,53.400
112646,fffcd46ef2263f404302a634eb57f7eb,False,2018-07-14 10:26:46,1,350.00,36.53,delivered,f3c38ab652836d21de61fb8314b69182,sao paulo,SP,Southest,-23.536609,-46.642445,computers_accessories,232.0,1.0,8.950,44.460
112647,fffce4705a9662cd70adb13d4a31832d,False,2017-10-23 17:07:56,1,99.90,16.95,delivered,c3cfdc648177fdbbbb35635a37472c53,curitiba,PR,South,-25.469632,-49.291261,sports_leisure,869.0,1.0,0.967,9.576
112648,fffe18544ffabc95dfada21779c9644f,False,2017-08-14 23:02:59,1,55.99,8.72,delivered,2b3e4a2a3ea8e01938cabda2a3e5cc79,sao paulo,SP,Southest,-23.636321,-46.694586,computers_accessories,1306.0,1.0,0.100,8.000
112649,fffe41c64501cc87c801fd61db3f6244,False,2018-06-09 17:00:18,1,43.00,12.79,delivered,f7ccf836d21b2fb1de37564105216cc1,ibitinga,SP,Southest,-21.757690,-48.829768,bed_bath_table,511.0,1.0,0.600,1.710

In [29]:
show_info(order_seller_info)

<class 'pandas.core.frame.DataFrame'>
Index: 112107 entries, 0 to 112649
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   order_id            112107 non-null  object
 1   is_re_order         112107 non-null  bool
 2   purchase_timestamp  112107 non-null  datetime64[ns]
 3   order_item_id       112107 non-null  int64
 4   price               112107 non-null  float64
 5   freight             112107 non-null  float64
 6   order_status        112107 non-null  object
 7   seller_id           112107 non-null  object
 8   seller_city         112107 non-null  object
 9   seller_state        112107 non-null  object
 10  seller_region       112107 non-null  object
 11  seller_lat          111855 non-null  float64
 12  seller_lng          111855 non-null  float64
 13  product_category    112107 non-null  object
 14  product_desc_len    112107 non-null  float64
 15  product_photos_qty  112107 non-null  float64
 16  product_weight_kg   112107 non-null  float64
 17  product_volume_L    112107 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(7)
memory usage: 15.5+ MB
---------------------------------------------------------
order_id                0
is_re_order             0
purchase_timestamp      0
order_item_id           0
price                   0
freight                 0
order_status            0
seller_id               0
seller_city             0
seller_state            0
seller_region           0
seller_lat            252
seller_lng            252
product_category        0
product_desc_len        0
product_photos_qty      0
product_weight_kg       0
product_volume_L        0
dtype: int64

#### üî∞ __Groupby__

‚óæ __`seller_result1`__

- ÌåêÎß§Ïûê Î≥Ñ Ï£ºÎ¨∏ Ï†ïÎ≥¥ ÌôïÏù∏ Í∞ÄÎä•

In [30]:
seller_result1 = order_seller_info.groupby(['seller_id', 'order_id']).agg({
    'is_re_order': 'min', 'purchase_timestamp': 'last',
	'order_item_id': 'max', 'price': 'sum', 'freight': 'sum', 'order_status': 'last',
	'seller_city': 'last', 'seller_state': 'last', 'seller_region': 'last',
 	'seller_lat': 'median', 'seller_lng': 'median',
	'product_category': join_unique_values, 
 	'product_desc_len': 'mean', 'product_photos_qty': 'mean', 'product_weight_kg': 'mean', 'product_volume_L': 'mean',
})
seller_result1

                                                                   is_re_order  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac        False
                                 9dc8d1a6f16f1b89874c29c9d8d30447        False
                                 d455a8cb295653b55abda06d434ab492        False
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529        False
                                 00dfb074b5c910fbd08e04691c4b712f        False
...                                                                        ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8        False
                                 d437ec1ece70f3e35d2695adfeb8a272        False
                                 d815bd2c2bdd79e4c0e0263caa986d66        False
                                 df537c849af44beef86a7ef7de12126a        False
                                 fdb3ef83ea6f7bef7d13bdd9b38da661        False

                                                                   purchase_timestamp  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac 2017-10-18 08:16:34
                                 9dc8d1a6f16f1b89874c29c9d8d30447 2017-10-12 13:33:22
                                 d455a8cb295653b55abda06d434ab492 2017-09-26 22:17:05
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529 2017-05-11 00:24:35
                                 00dfb074b5c910fbd08e04691c4b712f 2017-06-08 19:43:35
...                                                                               ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8 2017-03-16 14:15:16
                                 d437ec1ece70f3e35d2695adfeb8a272 2017-03-13 13:32:46
                                 d815bd2c2bdd79e4c0e0263caa986d66 2017-03-15 10:30:17
                                 df537c849af44beef86a7ef7de12126a 2017-01-19 21:48:41
                                 fdb3ef83ea6f7bef7d13bdd9b38da661 2017-01-17 21:09:40

                                                                   order_item_id  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac              1
                                 9dc8d1a6f16f1b89874c29c9d8d30447              1
                                 d455a8cb295653b55abda06d434ab492              1
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529              1
                                 00dfb074b5c910fbd08e04691c4b712f              1
...                                                                          ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8              1
                                 d437ec1ece70f3e35d2695adfeb8a272              1
                                 d815bd2c2bdd79e4c0e0263caa986d66              1
                                 df537c849af44beef86a7ef7de12126a              1
                                 fdb3ef83ea6f7bef7d13bdd9b38da661              1

                                                                    price  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac  895.00
                                 9dc8d1a6f16f1b89874c29c9d8d30447  895.00
                                 d455a8cb295653b55abda06d434ab492  895.00
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529   99.00
                                 00dfb074b5c910fbd08e04691c4b712f   99.50
...                                                                   ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8   51.45
                                 d437ec1ece70f3e35d2695adfeb8a272   52.50
                                 d815bd2c2bdd79e4c0e0263caa986d66   52.50
                                 df537c849af44beef86a7ef7de12126a   29.40
                                 fdb3ef83ea6f7bef7d13bdd9b38da661  109.20

                                                                   freight  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac    21.02
                                 9dc8d1a6f16f1b89874c29c9d8d30447    21.02
                                 d455a8cb295653b55abda06d434ab492    21.02
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529    43.06
                                 00dfb074b5c910fbd08e04691c4b712f    35.07
...                                                                    ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8    24.85
                                 d437ec1ece70f3e35d2695adfeb8a272    18.96
                                 d815bd2c2bdd79e4c0e0263caa986d66    17.11
                                 df537c849af44beef86a7ef7de12126a    10.96
                                 fdb3ef83ea6f7bef7d13bdd9b38da661    13.34

                                                                  order_status  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac    delivered
                                 9dc8d1a6f16f1b89874c29c9d8d30447    delivered
                                 d455a8cb295653b55abda06d434ab492    delivered
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529    delivered
                                 00dfb074b5c910fbd08e04691c4b712f    delivered
...                                                                        ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8   processing
                                 d437ec1ece70f3e35d2695adfeb8a272   processing
                                 d815bd2c2bdd79e4c0e0263caa986d66   processing
                                 df537c849af44beef86a7ef7de12126a    delivered
                                 fdb3ef83ea6f7bef7d13bdd9b38da661    delivered

                                                                   seller_city  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac  santo andre
                                 9dc8d1a6f16f1b89874c29c9d8d30447  santo andre
                                 d455a8cb295653b55abda06d434ab492  santo andre
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529    cariacica
                                 00dfb074b5c910fbd08e04691c4b712f    cariacica
...                                                                        ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8     campinas
                                 d437ec1ece70f3e35d2695adfeb8a272     campinas
                                 d815bd2c2bdd79e4c0e0263caa986d66     campinas
                                 df537c849af44beef86a7ef7de12126a     campinas
                                 fdb3ef83ea6f7bef7d13bdd9b38da661     campinas

                                                                  seller_state  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac           SP
                                 9dc8d1a6f16f1b89874c29c9d8d30447           SP
                                 d455a8cb295653b55abda06d434ab492           SP
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529           ES
                                 00dfb074b5c910fbd08e04691c4b712f           ES
...                                                                        ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8           SP
                                 d437ec1ece70f3e35d2695adfeb8a272           SP
                                 d815bd2c2bdd79e4c0e0263caa986d66           SP
                                 df537c849af44beef86a7ef7de12126a           SP
                                 fdb3ef83ea6f7bef7d13bdd9b38da661           SP

                                                                  seller_region  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac      Southest
                                 9dc8d1a6f16f1b89874c29c9d8d30447      Southest
                                 d455a8cb295653b55abda06d434ab492      Southest
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529      Southest
                                 00dfb074b5c910fbd08e04691c4b712f      Southest
...                                                                         ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8      Southest
                                 d437ec1ece70f3e35d2695adfeb8a272      Southest
                                 d815bd2c2bdd79e4c0e0263caa986d66      Southest
                                 df537c849af44beef86a7ef7de12126a      Southest
                                 fdb3ef83ea6f7bef7d13bdd9b38da661      Southest

                                                                   seller_lat  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac  -23.641517
                                 9dc8d1a6f16f1b89874c29c9d8d30447  -23.641517
                                 d455a8cb295653b55abda06d434ab492  -23.641517
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529  -20.271105
                                 00dfb074b5c910fbd08e04691c4b712f  -20.271105
...                                                                       ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8  -22.893511
                                 d437ec1ece70f3e35d2695adfeb8a272  -22.893511
                                 d815bd2c2bdd79e4c0e0263caa986d66  -22.893511
                                 df537c849af44beef86a7ef7de12126a  -22.893511
                                 fdb3ef83ea6f7bef7d13bdd9b38da661  -22.893511

                                                                   seller_lng  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac  -46.542105
                                 9dc8d1a6f16f1b89874c29c9d8d30447  -46.542105
                                 d455a8cb295653b55abda06d434ab492  -46.542105
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529  -40.415232
                                 00dfb074b5c910fbd08e04691c4b712f  -40.415232
...                                                                       ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8  -47.080024
                                 d437ec1ece70f3e35d2695adfeb8a272  -47.080024
                                 d815bd2c2bdd79e4c0e0263caa986d66  -47.080024
                                 df537c849af44beef86a7ef7de12126a  -47.080024
                                 fdb3ef83ea6f7bef7d13bdd9b38da661  -47.080024

                                                                   product_category  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac  small_appliances
                                 9dc8d1a6f16f1b89874c29c9d8d30447  small_appliances
                                 d455a8cb295653b55abda06d434ab492  small_appliances
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529      garden_tools
                                 00dfb074b5c910fbd08e04691c4b712f      garden_tools
...                                                                             ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8              auto
                                 d437ec1ece70f3e35d2695adfeb8a272              food
                                 d815bd2c2bdd79e4c0e0263caa986d66              food
                                 df537c849af44beef86a7ef7de12126a              auto
                                 fdb3ef83ea6f7bef7d13bdd9b38da661              auto

                                                                   product_desc_len  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac             849.0
                                 9dc8d1a6f16f1b89874c29c9d8d30447             849.0
                                 d455a8cb295653b55abda06d434ab492             849.0
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529             450.0
                                 00dfb074b5c910fbd08e04691c4b712f             706.0
...                                                                             ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8             595.0
                                 d437ec1ece70f3e35d2695adfeb8a272             283.0
                                 d815bd2c2bdd79e4c0e0263caa986d66             283.0
                                 df537c849af44beef86a7ef7de12126a             231.0
                                 fdb3ef83ea6f7bef7d13bdd9b38da661            1208.0

                                                                   product_photos_qty  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac                 2.0
                                 9dc8d1a6f16f1b89874c29c9d8d30447                 2.0
                                 d455a8cb295653b55abda06d434ab492                 2.0
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529                 1.0
                                 00dfb074b5c910fbd08e04691c4b712f                 2.0
...                                                                               ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8                 3.0
                                 d437ec1ece70f3e35d2695adfeb8a272                 1.0
                                 d815bd2c2bdd79e4c0e0263caa986d66                 1.0
                                 df537c849af44beef86a7ef7de12126a                 3.0
                                 fdb3ef83ea6f7bef7d13bdd9b38da661                 4.0

                                                                   product_weight_kg  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac             11.800
                                 9dc8d1a6f16f1b89874c29c9d8d30447             11.800
                                 d455a8cb295653b55abda06d434ab492             11.800
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529              9.000
                                 00dfb074b5c910fbd08e04691c4b712f              9.050
...                                                                              ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8              0.100
                                 d437ec1ece70f3e35d2695adfeb8a272              1.403
                                 d815bd2c2bdd79e4c0e0263caa986d66              1.403
                                 df537c849af44beef86a7ef7de12126a              0.100
                                 fdb3ef83ea6f7bef7d13bdd9b38da661              1.300

                                                                   product_volume_L
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac            61.920
                                 9dc8d1a6f16f1b89874c29c9d8d30447            61.920
                                 d455a8cb295653b55abda06d434ab492            61.920
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529            19.656
                                 00dfb074b5c910fbd08e04691c4b712f            19.656
...                                                                             ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8             4.096
                                 d437ec1ece70f3e35d2695adfeb8a272            34.452
                                 d815bd2c2bdd79e4c0e0263caa986d66            34.452
                                 df537c849af44beef86a7ef7de12126a             4.913
                                 fdb3ef83ea6f7bef7d13bdd9b38da661             8.000

[99548 rows x 16 columns]

‚óæ __`seller_result2`__

- ÌåêÎß§ÏûêÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï£ºÎ¨∏ Ï†ïÎ≥¥ Î≥ëÌï©

In [31]:
seller_result2 = seller_result1.reset_index()
seller_result2 = seller_result2.groupby(by='seller_id', as_index=False).aggregate({
	'order_id': ['count', join_values], 'is_re_order': 'sum',
	'purchase_timestamp': join_values,
 	'order_item_id': 'sum', 'price': 'sum', 'freight': 'sum',
  	'order_status': join_unique_values,
	'seller_city': 'min', 'seller_state': 'min', 'seller_region': 'min',
 	'seller_lat': 'median', 'seller_lng': 'median',
	'product_category': join_unique_values, 
    'product_desc_len': 'mean', 'product_photos_qty': 'mean', 'product_weight_kg': 'mean', 'product_volume_L': 'mean'
})
seller_result2.columns = seller_result2.columns.map('_'.join)
seller_result2.rename(columns={
	'seller_id_':'seller_id', 'order_id_join_values':'total_order_id', 'is_re_order_sum':'re_order_count',
 	'purchase_timestamp_join_values':'total_order_timestamp', 'order_status_join_unique_values':'order_status',
  	'order_item_id_sum':'order_item_num','seller_city_min':'seller_city', 'seller_state_min':'seller_state',
   	'seller_region_min':'seller_region', 'seller_lat_median':'seller_lat', 'seller_lng_median':'seller_lng',
    'product_category_join_unique_values':'p_category',
	'product_desc_len_mean':'p_desc_len_avg', 'product_photos_qty_mean':'p_photo_qty_avg',
	'product_weight_kg_mean':'p_weight_kg_avg', 'product_volume_L_mean':'p_volume_L_avg',	
}, inplace=True)
seller_result2['price_avg'] = (seller_result2['price_sum'] / seller_result2['order_item_num']).round(1)
seller_result2['freight_avg'] = (seller_result2['freight_sum'] / seller_result2['order_item_num']).round(1)
seller_result2['pf_ratio_%'] = (seller_result2['freight_sum'] / seller_result2['price_sum'] * 100).round(2) #--> Í∞ÄÍ≤© ÎåÄÎπÑ Ïö¥ÏûÑÎ£å ÎπÑÏú®
seller_result2

,seller_id,order_id_count,total_order_id,re_order_count,total_order_timestamp,order_item_num,price_sum,freight_sum,order_status,seller_city,seller_state,seller_region,seller_lat,seller_lng,p_category,p_desc_len_avg,p_photo_qty_avg,p_weight_kg_avg,p_volume_L_avg,price_avg,freight_avg,pf_ratio_%
0,0015a82c2db000af6aaaf3ae2ecb0532,3,"7f39ba4c9052be115350065d07583cac, 9dc8d1a6f16f...",0,"2017-10-18 08:16:34, 2017-10-12 13:33:22, 2017...",3,2685.00,63.06,delivered,santo andre,SP,Southest,-23.641517,-46.542105,small_appliances,849.000000,2.000000,11.800000,61.920000,895.0,21.0,2.35
1,001cca7ae9ae17fb1caed9dfb1094831,200,"006e43460a55bc60c0a437521e426529, 00dfb074b5c9...",1,"2017-05-11 00:24:35, 2017-06-08 19:43:35, 2018...",240,25080.03,8854.14,"delivered, shipped",cariacica,ES,Southest,-20.271105,-40.415232,"garden_tools, construction_tools_construction",472.345000,1.745000,8.997312,20.713800,104.5,36.9,35.30
2,002100f778ceb8431b7a1020ff7ab48f,51,"044cd7ffb6a41e6e5513c6595a2893ca, 07c04599729d...",2,"2017-10-29 10:15:00, 2017-09-30 16:53:45, 2017...",56,1234.50,793.66,"delivered, shipped",franca,SP,Southest,-20.530007,-47.411024,furniture_decor,654.470588,1.000000,0.334314,8.999529,22.0,14.2,64.29
3,003554e2dce176b5555353e4f3555ac8,1,7e4f454abfc163899a6ef5b4d5facfb2,0,2017-12-15 06:52:25,1,120.00,19.38,delivered,goiania,GO,CentralWest,-16.642567,-49.274629,N/A,0.000000,0.000000,1.200000,21.000000,120.0,19.4,16.15
4,004c9cd9d87a3c30c522c48c4fc07416,158,"044223df7cb37509bfeb2a0df1250ca4, 04f1827088d9...",3,"2017-11-02 09:19:16, 2017-12-10 20:42:05, 2017...",171,19712.71,3551.23,"delivered, shipped",ibitinga,SP,Southest,-21.757690,-48.829768,"bed_bath_table, N/A, bed_bath_table, N/A",480.879747,0.946203,2.473259,17.821171,115.3,20.8,18.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3051,ffc470761de7d0232558ba5e786e57b7,28,"001ac194d4a326a6fa99b581e9a3d963, 01e662008f03...",1,"2018-07-04 11:39:11, 2018-06-30 10:04:41, 2018...",31,1649.01,438.12,"delivered, shipped",guarulhos,SP,Southest,-23.464392,-46.540897,"construction_tools_construction, housewares, a...",838.107143,1.535714,0.762214,7.990179,53.2,14.1,26.57
3052,ffdd9f82b9a447f6f8d4b91554cc7dd3,18,"0c80c82bdef7f227e7483cdd3c94f697, 105a17b01506...",1,"2018-07-24 12:57:52, 2017-11-27 15:19:38, 2018...",20,2101.20,727.46,delivered,curitiba,PR,South,-25.417200,-49.259469,"housewares, furniture_decor",530.500000,1.222222,5.173167,31.519111,105.1,36.4,34.62
3053,ffeee66ac5d5a62fe688b9d26f83f534,14,"16a73b59c868ed5c7152b96b0ebc7693, 3012c36a0f63...",0,"2017-10-18 23:21:35, 2017-12-30 12:19:04, 2017...",14,1839.86,419.69,delivered,mirassol,SP,Southest,-20.815284,-49.507466,home_appliances,801.285714,4.928571,7.325000,57.010714,131.4,30.0,22.81
3054,fffd5413c0700ac820c7069d66d98c89,59,"05df1c1ff1b3e0ba073493d2ca0bdffc, 0aaf8268ec2a...",3,"2018-01-24 10:21:52, 2017-10-02 12:32:44, 2018...",64,8962.50,2799.77,"delivered, shipped",amparo,SP,Southest,-22.722793,-46.846086,"housewares, furniture_decor, furniture_living_...",448.152542,2.610169,9.172881,56.891644,140.0,43.7,31.24
3055,ffff564a4f9085cd26170f4732393726,16,"021d08e4057e5b6414c8d2f69f4f72a0, 2fbb05b3ee70...",0,"2016-10-07 17:37:49, 2016-10-10 15:37:12, 2017...",16,831.65,264.90,"delivered, processing",campinas,SP,Southest,-22.893511,-47.080024,"auto, market_place, electronics, N/A, housewar...",538.812500,2.437500,0.559750,10.151625,52.0,16.6,31.85

‚óæ __`seller_result3`__

In [32]:
seller_result3 = seller_result2[[
	'seller_id', 'order_id_count', 're_order_count', 'p_category', 'order_item_num',
 	'price_sum', 'freight_sum', 'pf_ratio_%', 'price_avg', 'freight_avg',
    'p_desc_len_avg', 'p_photo_qty_avg', 'p_weight_kg_avg', 'p_volume_L_avg'
]]
seller_result3

,seller_id,order_id_count,re_order_count,p_category,order_item_num,price_sum,freight_sum,pf_ratio_%,price_avg,freight_avg,p_desc_len_avg,p_photo_qty_avg,p_weight_kg_avg,p_volume_L_avg
0,0015a82c2db000af6aaaf3ae2ecb0532,3,0,small_appliances,3,2685.00,63.06,2.35,895.0,21.0,849.000000,2.000000,11.800000,61.920000
1,001cca7ae9ae17fb1caed9dfb1094831,200,1,"garden_tools, construction_tools_construction",240,25080.03,8854.14,35.30,104.5,36.9,472.345000,1.745000,8.997312,20.713800
2,002100f778ceb8431b7a1020ff7ab48f,51,2,furniture_decor,56,1234.50,793.66,64.29,22.0,14.2,654.470588,1.000000,0.334314,8.999529
3,003554e2dce176b5555353e4f3555ac8,1,0,N/A,1,120.00,19.38,16.15,120.0,19.4,0.000000,0.000000,1.200000,21.000000
4,004c9cd9d87a3c30c522c48c4fc07416,158,3,"bed_bath_table, N/A, bed_bath_table, N/A",171,19712.71,3551.23,18.01,115.3,20.8,480.879747,0.946203,2.473259,17.821171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3051,ffc470761de7d0232558ba5e786e57b7,28,1,"construction_tools_construction, housewares, a...",31,1649.01,438.12,26.57,53.2,14.1,838.107143,1.535714,0.762214,7.990179
3052,ffdd9f82b9a447f6f8d4b91554cc7dd3,18,1,"housewares, furniture_decor",20,2101.20,727.46,34.62,105.1,36.4,530.500000,1.222222,5.173167,31.519111
3053,ffeee66ac5d5a62fe688b9d26f83f534,14,0,home_appliances,14,1839.86,419.69,22.81,131.4,30.0,801.285714,4.928571,7.325000,57.010714
3054,fffd5413c0700ac820c7069d66d98c89,59,3,"housewares, furniture_decor, furniture_living_...",64,8962.50,2799.77,31.24,140.0,43.7,448.152542,2.610169,9.172881,56.891644
3055,ffff564a4f9085cd26170f4732393726,16,0,"auto, market_place, electronics, N/A, housewar...",16,831.65,264.90,31.85,52.0,16.6,538.812500,2.437500,0.559750,10.151625

In [33]:
# Ï£ºÎ¨∏ Í±¥Ïàò TOP10

def highlight(x, color='yellow', text=False):
    if text:
        return [f'color: {color}'] * len(x)
    else:
        return [f'background-color: {color}'] * len(x)

seller_result3.sort_values(by='order_id_count', ascending=False)[:10].style.apply(lambda x: highlight(x, 'red', True), subset=['order_id_count'])

In [34]:
# Ïû¨Ï£ºÎ¨∏ Í±¥Ïàò TOP10

seller_result3.sort_values(by='re_order_count', ascending=False).head(10).style.apply(lambda x: highlight(x, 'gold'), subset='re_order_count')

In [35]:
# ÌåêÎß§ ÌíàÎ™© Í∞úÏàò TOP5

seller_result3.sort_values(by='order_item_num', ascending=False)[:5].style.apply(lambda x: highlight(x, 'lightblue'), subset='order_item_num')

In [36]:
# Ï¥ù ÌåêÎß§Ïï° TOP5

seller_result3.sort_values(by='price_sum', ascending=False)[:5].style.apply(lambda x: highlight(x, 'yellow'), subset='price_sum')

In [37]:
# Í∞ÄÍ≤© ÎåÄÎπÑ Ïö¥ÏÜ°Î£å ÎπÑÏú® TOP10 --> Ïö¥ÏÜ°Î£åÍ∞Ä ÎπÑÏã∏Î©¥ ÌôïÏã§Ìûà Ïû¨Íµ¨Îß§Îäî Ïù¥Î£®Ïù¥ÏßÄÏßÄ ÏïäÎäî Í≤É Í∞ôÎã§.

seller_result3.sort_values(by='pf_ratio_%', ascending=False)[:10].style.apply(lambda x: highlight(x, 'lightgreen'), subset='pf_ratio_%')